<div class="container mt-5">
  <h1 class="text-primary">Your word: <%= @word %></h1>
  <p><strong>Grid:</strong> <%= @grid.join(" ") %></p>

  <div class="alert <%= @score.to_i > 0 ? "alert-success" : "alert-danger" %> mt-4">
    <h4 class="alert-heading">
      <%= @score.to_i > 0 ? "Congratulations!" : "Opps!" %>
    </h4>
      <p><%= @message %></p>
  </div>

  <p><strong>Round score:</strong> <%= @score %></p>
  <p><strong>Total score:</strong> <%= @total_score %></p>

<%= link_to "Play again", new_game_path, class:"btn btn-primary mt-3" %>
</div>
